.spinner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    border: rgba(255, 255, 255, 0.85);
    animation: linear 1.5s spin;

    $colors: danger, success, info, warning, primary, windows, debian, ubuntu,
        linux, php, nodejs, golang, rust, python, docker;
    $size: 3px;

    &.spinner-transparent {
        border-left: solid $size transparent;
    }

    @each $color in $colors {
        &.spinner-#{$color} {
            border-left: solid $size var(--st-#{$color});
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
