<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Starlight Panel</title>
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
        <link href="/public/css/loading.min.css" rel="stylesheet" />
    </head>
    <body>
        <div id="loading-wrapper" class="show">
            <div class="loading-wrapper">
                <div class="content">
                    <div class="planet">
                        <div class="ring"></div>
                        <div class="cover-ring"></div>
                        <div class="spots">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <p>Loading</p>
                </div>
            </div>
        </div>
        <div id="root"></div>
    </body>
</html>
